ol.breadcrumb
  li
    a(href="#")
      | &nbsp; หน้าหลัก
  li.active
    | ตัวชี้วัดจังหวัด

.row
  .col-md-12
    .card
      .card-header
        button.btn.btn-sm.btn-info.pull-right
          i.fa.fa-search
        | ร้อยละหญิงตั้งครรภ์ได้รับการฝากครรภ์ครั้งแรกก่อนหรือเท่ากับ 12 สัปดาห์
      .card-block
        nvd3(options="options", data="data")
          
      .card-footer.text-muted
        strong A: 
        | &nbsp; หมายถึง จำนวนหญิงตั้งครรภ์ที่มาคลอดที่สถานบริการฯ ทั้งหมดฝากครรภ์ครั้งแรกน้อยกว่าหรือเท่ากับ 12 สัปดาห์ 
        br
        strong B:
        | &nbsp; หมายถึง จำนวนหญิงตั้งครรภ์ที่มาคลอดที่สถานบริการฯ ทั้งหมด

  //-       
  //- .col-md-6
  //-   .card
  //-     .card-block
  //-       nvd3(options="options2", data="data2")
  //-         
  //-     .card-footer.text-muted
  //-       strong A: 
  //-       | &nbsp; slfjsdfjdslfjdsfsdf
            
table.table.table-striped
  thead.thead-default
    tr
      th ตัวชี้วัด
      th เป้าหมาย
      th %
      th
      
  tbody
    tr 
      td xxxxx xxxxx sfsfssa dsfasdsdf sfds dfdsfdsfdsfdsfdsfsdfdsfdsfdf
      td 90
      td 85
      td
        button.btn.btn-primary.btn-sm
          i.fa.fa-search
